.cvicon-generic-text-button{
    padding-left:5px;
    padding-right:5px;
    margin:5px;
    display:inline-block;
    background:white;
    border:1px solid black;
    color:black;
    cursor:pointer;
    border-radius:6px;
}
.cvicon-generic-text-button:hover{
    background:#018ada;
    color:white;
}

.cvicon-step-title{
	text-align: center;
}
.cvicon-step-instruction{
	text-align: center;
}
.cvicon-step-content{
	text-align: center;
}

.cvicon-template-wrapper{
	display:inline-block;
	width:100px;
}
.cvicon-template-pict > img{
	cursor: pointer;
}
#cvicon-main-spinner{
	position:absolute;
	top:10px;
	left:10px;
}
#cvicon-custom-icon-composite{
	display:inline-block;
	width:82px;
	height:200px;
	border:1px solid #AAAAAA;
	position:relative;
}

#cvicon-custom-icon-composite img.cvicon-component{
	position:absolute;
	top:0px;
	left:0px;
	width:80px;
	height:80px;
	border:1px solid #AAAAAA;
}

#cvicon-custom-icon-save{
	position:absolute;
	display:inline-block;
	top:90px;
	left:0px;
}

#cvicon-custom-icon-components-pane{
	display:inline-block;
	width:650px;
	height:350px;
	background:#EEEEEE;
	border:1px solid #AAAAAA;
	vertical-align: top;
}
.cvicon-custom-icon-component-div{
	text-align: left;
}
.cvicon-custom-icon-component{
	border:1px solid transparent;
	cursor:pointer;
}
.cvicon-custom-icon-component:hover{
	border:1px solid #018ada;
}